
    /*Navigation bar START*/
div#navBar{
    background-color: rgb(22, 140, 255);
    position: fixed;
    width: inherit;
    height: 70px;
    z-index: 99;
    top: 0;
    box-shadow: 0 2px 10px 5px #4f4f4d;

}

div#navBar img{
    margin: 10px 0 0 10px;
    box-shadow: 0 5px 15px 0 #4f4f4d;
}

div#navBar ul{
    list-style: none;
    margin: -90px 0 0 150px;
}

div#navBar ul li{
    float: left;
}

div#navBar ul li a:hover {
     background-color: rgba(4, 21, 197, 0.100);
     border-radius: 10px;
 }
div#navBar ul li a:active {
    background-color:#2649ff;
    border-radius: 10px;
}
div#navBar ul li a:focus {
    background-color:#2649ff;
    border-radius: 10px;
}
div#navBar ul li a{
    font-weight: bold;
    font-size: 18px;
    color: #E7E7E5;
    display: block;
    text-decoration: none;
    padding: 10px 30px;
}
div#navBar input.input{
     border: none;
     padding: 5px 10px;
     margin-left: 170px;
     margin-top: 10px;
    outline: none;
 }
div#navBar input.input:hover{
    box-shadow: 0 0 2px 2px #ff8200;
    }
div#navBar input.input:focus{
        box-shadow: 0 0 2px 2px #ff8200;
    }
div#navBar input.searchButton{
        border: none;
        padding: 5px 10px;
    border-top: 1px solid #ff8200;
    }

div#navBar input.searchButton:hover{
        background-color: #ff8200;
        color: #fffffd;
    }

        /*Navigation Bar END*/

        /*600px Display intro START*/
div.displayDiv1{
    width: 100%;
    height: 600px;
    margin-top: 130px;
    background-color: rgb(22, 140, 255);
    display: inline-block;
    border-top: 5px solid #ff8200;
}


div.displayDiv img.poverty{
    margin-top: 22px;
}

div.displayDiv img.devider{
    margin: 0 0 50px 0;

}

div.volunteer{
    width: 300px;
    height: 500px;
    background-color: #1674db;
    margin:  50px 30px 0 0;
    float: right;
    border-top: 3px solid #ff8200;
}


div.volunteer p{
    text-align: center;
    color: #E7E7E5;
    font-size: 24px;
    font-weight: bold;
}

div.volunteer input{
    margin: 5px 0 0 30px;
    padding: 15px 0 15px 5px;
    width: 230px;
    border: none;
    color: #898987;
    outline: none;
}

div.volunteer input:hover{
    border: 3px groove #ff8200;
}
div.volunteer input:focus{
    border: 3px groove #ff8200;
}

div.volunteer .submit{
    background-color: #E7E7E5;
    color: #404040;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    outline: none;
    margin:  15px 0 0 75px;
    border-top: 2px solid  #ff8200;
}

div.volunteer .submit:hover{
    background-color: #ff8200;
    border: none;
    color: #fffffd;
}

        /*600px Display intro END*/

        /*Donation Section START*/
div.displayDiv{
    display: inline-block;
    width: 100%;
    height: 600px;
    background-color: rgb(22, 140, 255);
    margin-top: 65px;
    border-top: 5px solid #ff8200;
}

div.displayDiv .child{
    margin: 20px 0 0 20px;
    border: 2px solid #ff8200;
}
p.didyouknow{
    color: #E7E7E5;
    font-size: 58px;
    float: right;
    margin: 20px 440px 0 0;
    text-shadow: 2px 2px 2px #21211f;
}

p.def{
    font-size: 38px;
    color: #E7E7E5;
    text-align: left;
    float: right;
    margin: -200px 40px 0 0;
    text-shadow: 1px 1px 1px #21211f;
}
p.def1{
    font-size: 38px;
    color: #E7E7E5;
    text-align: left;
    float: right;
    margin: -85px 120px 0 0;
    text-shadow: 1px 1px 1px #21211f;
}

img.hr-devider{
    margin: 20px 0 0 400px;
}

div.donationForm{
    width: 80%;
    height: 200px;
    background-color: #1674db;
    margin: 30px 0 0 120px;
    border-top: 3px solid #ff8200;
    display: inline-block;
}

div.donationForm ul.headings{
    list-style: none;
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    color: #E7E7E5;
    text-shadow: 1px 1px 1px #21211f;
}
ul.headings li{
    display: inline;
    padding: 0 70px;
}

div.donationForm ul.buttons{
    list-style: none;
    text-align: center;
    margin-top: 50px;
}

ul.buttons li{
    display: inline;
    padding: 0 115px;

}

ul.buttons li a{
    text-decoration: none;
    background-color: #E7E7E5;
    color: #404040;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-top: 2px solid  #ff8200;
}

ul.buttons a:hover{
        background-color: #ff8200;
        color: #fffffd;
    }
        /*Donation section END/

        /*Updates Section Start*/
div.displayDiv .stayInTouch{
    color: #E7E7E5;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 2px #21211f;
}

div.displayDiv .mobUpdatesForm{
    width: 80%;
    height: 200px;
    background-color: #1674db;
    margin: -20px 0 0 120px;
    border-top: 3px solid #ff8200;
    display: inline-block;
}

div.displayDiv .mobUpdatesForm input{
    outline: none;
    border: none;
    padding: 10px 20px;
}

div.mobUpdatesForm>div{
    margin-left: 275px;
}
.mobUpdatesForm input.forHover:hover{
    background-color: #ff8200;
    color: #fffffd;
}

